In [1]:
from autospider import HotelSpider
from sqlalchemy import create_engine

database_url = "sqlite:///../data/data.sqlite"
engine = create_engine(database_url)

spider = HotelSpider(db=engine, refresh=False)
spider.run()

  0%|          | 0/154 [00:00<?, ?it/s]

D:\lib\Travel_ML\notebooks\autospider.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  self.data = pd.concat([self.data, pd.DataFrame([tmp], columns=self.data.columns)], ignore_index=True)

请求超时，尝试次数 1/3






























































































请求超时，尝试次数 1/3




















请求超时，尝试次数 1/3























请求超时，尝试次数 1/3
请求超时，尝试次数 2/3

In [2]:
spider.data

             日期  客房平均出租率  五星级平均出租率   平均房价  五星级平均房价  平均房价增长  五星级房价增长
0    2024-02-01     44.6      51.8  752.0    930.0    17.0     19.5
1    2024-01-01     53.5      60.2  713.0    890.0     4.4      5.2
2    2023-12-01     57.1      64.3  767.0    983.0    28.1     32.8
3    2023-11-01     67.8      74.1  799.0   1013.0    33.5     36.8
4    2023-10-01     63.0      69.2  772.0    992.0    29.5     31.6
..          ...      ...       ...    ...      ...     ...      ...
149  2011-05-01     58.3      61.5  638.0   1085.0    -9.8    -14.2
150  2011-04-01     60.3      64.5  656.0   1130.0    -3.1     -8.4
151  2011-03-01     57.0      62.1  670.0   1117.0     6.2      6.0
152  2011-02-01     41.2      46.7  611.0    960.0    16.6      8.5
153  2011-01-01     44.8      49.5  649.0   1058.0    18.1     13.7

[154 rows x 7 columns]

In [4]:
spider.data.to_sql('sh_hotel', con=engine, if_exists='replace',index=False)

154